.diag-warning {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: var(--vscode-editorWarning-foreground);
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}

.diag-error {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: var(--vscode-editorError-foreground);
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}

.diag-info {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: var(--vscode-editorInfo-foreground);
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}
